body{
    display: flex;
    justify-content: center;
}

table{
    background-color: white;
}

td, th{
    border: 1px none #999;
    padding: 0.5rem;
    text-align: left;
}

h1, h2, h3, h4, h5, h6{
    margin: 2px 0 2px 0;
}

.checkPoints{
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    justify-content: center;
    padding: 5px;
    margin: 5px;
}

.underLine{
    text-decoration: underline;
}

.hideRow{
    display : none;
}