.reaction, .options{
    min-height: 175px;
    max-height: max-content;
}

.reaction img{
    width: 200px;
    height: 200px;
}

.reaction button{
    border-radius: 15px;
    min-width: 100px;
    min-height: 100px;
}

.options div{
    border: none;
    border-radius: 10px;
    min-height: 30px;
    width: max-content;
    height: max-content;
    margin: 10px;
    text-align: center;
    justify-content: center;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    z-index: 1;
    transition: all 0.5s ease;
}

.options div:nth-child(2n+1){
    margin-top: 1px;
}

.options div:nth-child(2n){
    margin-top: 40px;
}

.blanks{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.blank{
    min-width: 70px;
    min-height: 20px;
    max-width: max-content;
    max-height: max-content;
    margin: 5px;
    background-color: lightgrey;
}

.dragme{
    position:relative;
    cursor: pointer;
}